<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/style.css">
  <title>Register</title>
</head>

<body>
  <main>
    <div class="container">
      <form action="" id="login-form">
        <label for="name" class="input-label">Nome</label>
        <input type="text" name="name" id="name" class="input-text">
        <label for="email" class="input-label">E-mail</label>
        <input type="email" name="email" id="email" class="input-text">
        <label for="senha" class="input-label">Senha</label>
        <input type="text" name="senha" id="senha" class="input-text">
        <button type="submit" class="button">Cadastrar</button>
      </form>
    </div>
  </main>

</body>

</html>